<div th:replace="~{fragments/layout :: layout(content = ~{::content}, title='Quên Mật Khẩu')}">
    <div th:fragment="content" class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <h3 class="card-header text-center bg-primary text-white">Quên Mật Khẩu</h3>
                <div class="card-body">
                    
                    <div th:replace="~{fragments/alert :: alert}"></div>

                    <p>Vui lòng nhập email của bạn. Chúng tôi sẽ gửi một liên kết để đặt lại mật khẩu.</p>
                    
                    <form th:action="@{/forgot-password}" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Gửi Yêu Cầu</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <p>Nhớ mật khẩu rồi? <a th:href="@{/login}">Quay lại Đăng nhập</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>