<div th:replace="~{fragments/layout :: layout(content = ~{::content}, title='Đặt Lại Mật Khẩu')}">
    <div th:fragment="content" class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <h3 class="card-header text-center bg-primary text-white">Đặt Lại Mật Khẩu</h3>
                <div class="card-body">
                    
                    <div th:if="${error}" class="alert alert-danger">
                        <span th:text="${error}"></span>
                    </div>

                    <form th:action="@{/reset-password}" method="post">
                        <input type="hidden" name="token" th:value="${token}" />
                        
                        <div class="mb-3">
                            <label for="password" class="form-label">Mật khẩu mới</label>
                            <input type="password" name="password" class="form-control" id="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Cập Nhật Mật Khẩu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>